@{
    ViewData["Title"] = "Details";
    @model WebMVC.ViewModels.GoalViewModels.DetailsViewModel
}
<h2>Details</h2>
<hr />
<div>
    <h4>@Html.DisplayNameFor(model => model.Goal.Name)</h4>
    
        @Html.DisplayFor(model => model.Goal.Name)
</div>
