@{
    ViewData["Title"] = "Details";
    @model WebMVC.ViewModels.GoalViewModels.DetailsViewModel
}
<h2>Details</h2>

<div>
    <h4>@Html.DisplayNameFor(model => model.Goal.Name)</h4>
    <hr />
        @Html.DisplayFor(model => model.Goal.Name)
</div>
