@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <h2>Welcome to My Reverie</h2>
    <div class="col-md-3">
        <a asp-area="" asp-controller="Goals" asp-action="Index">About</a>       
    </div>
    
</div>
